@import "src/assets/styles/colors";

.wrapper {
  margin: 24px 0;
  max-width: 600px;
}

.title {
  font-size: 20px;
  width: 100%;
  cursor: pointer;

  &:hover {
    color: $blackBlue;
  }
}

.content {
  margin-top: 8px;
}
